<div class="flex flex-col items-center">
  <div class="flex flex-col items-center max-w-[400px]">
    <div class="h-[40px] overflow-hidden">
      <img
        src="<%=asset('/splash.webp')%>"
        class="relative -translate-y-1/2 top-[27px]"
      />
    </div>
    <%- slot %>
  </div>
</div>
