<!DOCTYPE html>
<html lang="en" data-theme="black">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kingdom</title>
    <link href="<%=asset('/app.css')%>" rel="stylesheet" />
  </head>
  <body>
    <%- slot %>
  </body>
</html>
