<!DOCTYPE html>
<html lang="en" data-theme="black">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kingdom</title>
    <link href="<%=asset('/app.css')%>" rel="stylesheet" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"
      integrity="sha256-tgDjY9mdlURNtUrL+y3v/smueSqpmgkim82geOW1VkM="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/pocketbase@0.25.0/dist/pocketbase.umd.min.js"></script>
    <script>
      const pb = new PocketBase('https://kingdom.pockethost.io')
    </script>
  </head>
  <body>
    <%- slot %>
  </body>
</html>
