<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center flex flex-col">
    <img src="<%=asset('/splash.webp')%>" />
    <a href="/play" class="btn btn-primary btn-block">Play</a>
  </div>
</div>
